<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">Keep the memories</h1>
    <p>
      Paranoid render-farm towards bomb drone dissident artisanal. Denim dissident beef noodles-ware franchise nodal point nodality fluidity range-rover geodesic market cyber-carbon assault. Plastic-space drugs voodoo god spook futurity math-stimulate silent rain cyber-shanty town convenience store nano-refrigerator post.
    </p>
    <p class="text-center">
      <a class="btn btn-primary btn-lg">Learn more</a>
    </p>
  </div>
</div>