<h2>Edit category</h2>

<%= form_for @category do |f| %>

    <%= render 'categories/form' %>

    <%= f.submit 'Update', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', categories_path, class: 'btn btn-default' %>

<% end %>
