<div id="gallery">
					<h2>Featured Memories</h2>
					<div class="row">
						<div class="col-sm-3">
							<div class="text-center photo photo-type-line">
								<a href="http://lorempixel.com/g/640/480" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
									<div class="photo-info">
										<div class="head-line">Lorem Ipsum</div>
										<div class="line"></div>
										<div class="desc">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua. 
										</div>
									</div>
									<div class="mask"></div>
								</a>
								<div class="photo-img"><img src="http://lorempixel.com/g/240/200" class="img-responsive" alt=""></div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="text-center photo photo-type-line">
								<a href="http://lorempixel.com/g/640/480" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
									<div class="photo-info">
										<div class="head-line">Lorem Ipsum</div>
										<div class="line"></div>
										<div class="desc">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua. 
										</div>
									</div>
									<div class="mask"></div>
								</a>
								<div class="photo-img"><img src="http://lorempixel.com/g/240/200" class="img-responsive" alt=""></div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="text-center photo photo-type-line">
								<a href="http://lorempixel.com/g/640/480" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
									<div class="photo-info">
										<div class="head-line">Lorem Ipsum</div>
										<div class="line"></div>
										<div class="desc">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua. 
										</div>
									</div>
									<div class="mask"></div>
								</a>
								<div class="photo-img"><img src="http://lorempixel.com/g/240/200" class="img-responsive" alt=""></div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="text-center photo photo-type-line">
								<a href="http://lorempixel.com/g/640/480" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
									<div class="photo-info">
										<div class="head-line">Lorem Ipsum</div>
										<div class="line"></div>
										<div class="desc">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua. 
										</div>
									</div>
									<div class="mask"></div>
								</a>
								<div class="photo-img"><img src="http://lorempixel.com/g/240/200" class="img-responsive" alt=""></div>
							</div>
						</div>
					</div>	
					<div class="row">
						<div class="col-sm-3">
							<div class="text-center photo photo-type-line">
								<a href="http://lorempixel.com/g/640/480" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
									<div class="photo-info">
										<div class="head-line">Lorem Ipsum</div>
										<div class="line"></div>
										<div class="desc">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua. 
										</div>
									</div>
									<div class="mask"></div>
								</a>
								<div class="photo-img"><img src="http://lorempixel.com/g/240/200" class="img-responsive" alt=""></div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="text-center photo photo-type-line">
								<a href="http://lorempixel.com/g/640/480" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
									<div class="photo-info">
										<div class="head-line">Lorem Ipsum</div>
										<div class="line"></div>
										<div class="desc">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua. 
										</div>
									</div>
									<div class="mask"></div>
								</a>
								<div class="photo-img"><img src="http://lorempixel.com/g/240/200" class="img-responsive" alt=""></div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="text-center photo photo-type-line">
								<a href="http://lorempixel.com/g/640/480" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
									<div class="photo-info">
										<div class="head-line">Lorem Ipsum</div>
										<div class="line"></div>
										<div class="desc">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua. 
										</div>
									</div>
									<div class="mask"></div>
								</a>
								<div class="photo-img"><img src="http://lorempixel.com/g/240/200" class="img-responsive" alt=""></div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="text-center photo photo-type-line">
								<a href="http://lorempixel.com/g/640/480" class="photo-hover" data-lightbox="my-images" data-title="Lorem Ipsum">
									<div class="photo-info">
										<div class="head-line">Lorem Ipsum</div>
										<div class="line"></div>
										<div class="desc">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua. 
										</div>
									</div>
									<div class="mask"></div>
								</a>
								<div class="photo-img"><img src="http://lorempixel.com/g/240/200" class="img-responsive" alt=""></div>
							</div>
						</div>
					</div>	
				</div>